In [9]:
#Create a 10 variables with your friend names?

In [163]:
friend_name1="Anu"
friend_name2="jyo"
friend_name3="rani"
friend_name4="bindu"
friend_name5="bujji"
friend_name6="pavani"
friend_name7="geetha"
friend_name8="lavanya"
friend_name9="aruna"
friend_name10="Teju"

In [164]:
friend_name1

'Anu'

In [165]:
print(friend_name1)
type(friend_name1)

Anu

str

In [13]:
friend_name2

'jyo'

In [92]:
print("my friend name is",friend_name2)
type(friend_name2)

my friend name is jyo

str

In [16]:
friend_name3

'rani'

In [23]:
print("my friend name is",friend_name3)
type(friend_name3)

my friend name is rani

str

In [19]:
friend_name4

'bindu'

In [24]:
print("my friend name is",friend_name4)
type(friend_name4)

my friend name is bindu

str

In [25]:
friend_name5

'bujji'

In [27]:
print("my friend name is",friend_name5)
type(friend_name5)

my friend name is bujji

str

In [28]:
friend_name6

'pavani'

In [29]:
print("my friend name is",friend_name6)
type(friend_name6)

my friend name is pavani

str

In [30]:
friend_name7

'geetha'

In [31]:
print("my friend name is",friend_name7)
type(friend_name7)

my friend name is geetha

str

In [32]:
friend_name8

'lavanya'

In [34]:
print("my name is",friend_name8)
type(friend_name8)

my name is lavanya

str

In [35]:
friend_name9

'aruna'

In [36]:
print("my name is",friend_name9)
type(friend_name9)

my name is aruna

str

In [37]:
friend_name10

'Teju'

In [39]:
print("my name is",friend_name10)

type(friend_name10)

my name is Teju

str

In [ ]:
#Create a 10 variables with your family member names?

In [95]:
familymember1="param"
familymember2="anu"
familymember3="karthika"
familymember4="padma"
familymember5="srinu"
familymember6="nagendra"
familymember7="lakshmi"
familymember8="bhavani"
familymember9="shannu"
familymember10="nehanth"

In [138]:
print(familymember1)
type (familymember1)
print(familymember2)
type (familymember2)
print(familymember3)
type (familymember3)
print(familymember4)
type (familymember4)
print(familymember5)
type (familymember5)
print(familymember6)
type (familymember6)
print(familymember7)
type (familymember7)
print(familymember8)
type (familymember8)
print(familymember9)
type (familymember9)
print(familymember10)
type (familymember10)

param
anu
karthika
padma
srinu
nagendra
lakshmi
bhavani
shannu
nehanth

str

In [ ]:
#Create a 10 variables with favorite food names?

In [130]:
favorite_food1="chicken_biryani"
favorite_food2="prawns_fry"
favorite_food3="fish"
favorite_food4="mutton"
favorite_food5="dhal"
favorite_food6="puri"
favorite_food7="aalo_fry"
favorite_food8="bendi_fry"
favorite_food9="friedrice"
favorite_food10="chicken_fry"

In [131]:
print("my favorite_food1 is",favorite_food1)
type(favorite_food1)
print("my favorite_food1 is",favorite_food2)
type(favorite_food2)
print("my favorite_food1 is",favorite_food3)
type(favorite_food3)
print("my favorite_food1 is",favorite_food4)
type(favorite_food4)
print("my favorite_food1 is",favorite_food5)
type(favorite_food5)
print("my favorite_food1 is",favorite_food6)
type(favorite_food6)
print("my favorite_food1 is",favorite_food7)
type(favorite_food7)
print("my favorite_food1 is",favorite_food8)
type(favorite_food8)
print("my favorite_food1 is",favorite_food9)
type(favorite_food9)
print("my favorite_food1 is",favorite_food10)
type(favorite_food10)

my favorite_food1 is chicken_biryani
my favorite_food1 is prawns_fry
my favorite_food1 is fish
my favorite_food1 is mutton
my favorite_food1 is dhal
my favorite_food1 is puri
my favorite_food1 is aalo_fry
my favorite_food1 is bendi_fry
my favorite_food1 is friedrice
my favorite_food1 is chicken_fry

str

In [ ]:
#Create a 10 variables with colour  names?

In [120]:
colour1="green"
colour2="pink"
colour3="blue"
colour4="white"
colour5="orange"
colour6="peach"
colour7="yellow"
colour8="navyblue"
colour9="purple"
colour10="black"

In [121]:
print(colour1)
print(colour2)
print(colour3)
print(colour4)
print(colour5)
print(colour6)
print(colour7)
print(colour8)
print(colour9)
print(colour10)
type(colour1)

green
pink
blue
white
orange
peach
yellow
navyblue
purple
black

str

In [ ]:
#Create a 12 variables with month  names?

In [1]:
month1="january"
print("1st month",month1)
type(month1)
month2="february"
print("2nd month",month2)
type(month2)
month3="march"
print("3rd month",month3)
type(month3)
month4="April"
print("4th month",month4)
type(month4)
month5="may"
print("5th month",month5)
type(month5)
month6="june"
print("6th month",month6)
type(month6)
month7="july"
print("7th month",month7)
type(month7)
month8="August"
print("8th month",month8)
type(month8)
month9="september"
print("9th month",month9)
type(month9)
month10="October"
print("10st month",month10)
type(month10)
month11="November"
print("11st month",month11)
type(month11)
month12="December"
print("12st month",month12)
type(month12)

1st month january
2nd month february
3rd month march
4th month April
5th month may
6th month june
7th month july
8th month August
9th month september
10st month October
11st month November
12st month December

str

In [ ]:
# Create a 10 variables with game  names?

In [126]:
game1="volley_ball"
print(game1)
type(game1)
game2="cricket"
print(game2)
type(game2)
game3="hockey"
print(game3)
type(game3)
game4="caroms"
print(game4)
type(game4)
game5="shuttle"
print(game5)
type(game5)
game6="chess"
print(game6)
type(game6)
game7="tennis"
print(game7)
type(game7)
game8="football"
print(game8)
type(game8)
game9="batminton"
print(game9)
type(game9)
game10="Running"
print(game10)
type(game10)

volley_ball
cricket
hockey
caroms
shuttle
chess
tennis
football
batminton
Running

str

In [ ]:
#Create a 10 variables with city  names?

In [129]:
city1="banglore"
print(city1)
type(city1)
city2="Delhi"
print(city2)
type(city2)
city3="chennai"
print(city3)
type(city3)
city4="Hyderabad"
print(city4)
type(city4)
city5="Pune"
print(city5)
type(city5)
city6="guntur"
print(city6)
type(city6)
city7="Ahmedabad"
print(city7)
type(city7)
city8="chocin"
print(city8)
type(city8)
city9="vijayawada"
print(city9)
type(city9)
city10="Tirupathi"
print(city10)
type(city10)

banglore
Delhi
chennai
Hyderabad
Pune
guntur
Ahmedabad
chocin
vijayawada
Tirupathi

str

In [ ]:
#Create a list (friend_names) with your friend names (10 names)?

In [140]:
friemds_lit=["Jyothi","Rani","Thasneem","Teju","Bindu","Bujji","Aruna","Revathi","Pushma","Geetha"]
print("my friends names are",friemds_lit)
type(friemds_lit)

my friends names are ['Jyothi', 'Rani', 'Thasneem', 'Teju', 'Bindu', 'Bujji', 'Aruna', 'Revathi', 'Pushma', 'Geetha']

list

In [ ]:
#Create a tuple (family_members) with your family members?

In [143]:
familymember_names=("param","anu","karthika","padma","srinu","nagendra","lakshmi","bhavani","shannu","nehanth")

In [144]:
print("my familymember are",familymember_names)
type(familymember_names)

my familymember are ('param', 'anu', 'karthika', 'padma', 'srinu', 'nagendra', 'lakshmi', 'bhavani', 'shannu', 'nehanth')

tuple

In [ ]:
# Create a set (colours) with colour names(10 names)?

In [146]:
colour_names={"green","pink","blue","white","orange","peach","yellow","navyblue","purple","black"}

In [147]:
print(colour_names)
type(colour_names)

{'black', 'pink', 'white', 'orange', 'yellow', 'green', 'blue', 'navyblue', 'peach', 'purple'}

set

In [ ]:
#. month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?
expected output: month_names=[1,2,3,4,5,6,7,8,9,10]

In [149]:
month_names=[1,9,10,5,3,2,7,8,6,4]

In [151]:
print("month_names=",set(month_names))

month_names= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#12. tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"], write a program?
#expected output:tollywood_heros=["chiranjeevi", "balakrishan", "nagarjuna","venky","pawan kalyan","maheshbabu","NT rama rao","ramcharan"]

In [154]:
tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"]

In [155]:
tollywood_heros[0]="chiranjeevi"
tollywood_heros[1]="balakrishan"
tollywood_heros[2]="nagarjuna"
tollywood_heros[3]="venky"
tollywood_heros[4]="pawan kalyan"
tollywood_heros[5]="maheshbabu"
tollywood_heros[6]="NT rama rao"
tollywood_heros[7]="ramcharan"

In [156]:
print(tollywood_heros)
type(tollywood_heros)

['chiranjeevi', 'balakrishan', 'nagarjuna', 'venky', 'pawan kalyan', 'maheshbabu', 'NT rama rao', 'ramcharan']

list

In [ ]:
#bollywood_heros=["sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"], write a program to remove duplicates?

In [158]:
bollywood_heros=["sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"]

In [159]:
bollywood_heros1=set(bollywood_heros)
print(bollywood_heros1)
type(bollywood_heros1)

{'salmankhan', 'Akshay Kumar', 'sharukkhan', 'HrithikRoshan', 'amirkhan', 'Amitabh Bachchan'}

set

In [ ]:
# breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"], print your favorite breakfast itme?
#example: My Favorite breakfast time is mysoor baji

In [160]:
breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"]

In [162]:
print("My Favorite breakfast item is ",breakfast_items[3])
type(breakfast_items)

My Favorite breakfast item is  puri

list